{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 offset-md-2 mt-3">
      <h2>{% trans "Log In" %}</h2>

      <p>{% blocktrans %}<span class="msg-special">Hey there</span>, good to see you again!</br>Log in to see all the tools and
        share your own tips with others.</br>If you need an account, you can
        <a class="link" href="{{ signup_url }}"><span class="msg-special">sign up</span></a> here.{% endblocktrans %}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 offset-md-2 mt-3">
      <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn btn-card" type="submit">{% trans "Sign In" %}</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
