{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

<div class="container mt-5 mb-5 px-5">
  <div class="row">
    <div class="col-md-8 offset-md-2 mt-3">
      <h2>{% trans "Sign Up" %}</h2>
      <p>{% blocktrans %}<span class="msg-special">Hey there</span>, good to see you! You can create your new account
        here.<br>Already have an account? Then please <a class="link" href="{{ login_url }}"><span class="msg-special">sign
            in</span></a>.{% endblocktrans %}
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 offset-md-2 mt-3">
      <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn btn-card" type="submit">{% trans "Sign Up" %} &raquo;</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
