/*------------------------------------ General*/

html, body { height: 100%;}

body {
    font-family: 'Montserat', sans-serif;
    background-color: white;
    color: #5f6670;
}

a {
    text-decoration: none;
    color: inherit;
}


.logo {
    font-size: 2.2rem;
    font-weight: bolder;
}

.logo-light {
    color: #5f6670;
}

.logo-darker {
    color: #A2AEA0;
}

.nav-link {
    font-size: 1.4rem;
}

.icn-home {
   color: #A2AEA0;
   font-size: 2rem;
}

h1 {
    font-weight: 600;
    font-size: 3rem;
}

.btn-callout {
    background-color: #D69722;
    border-radius: 0.5rem;
    float: right;
    color: white;
}

.btn:hover, .btn:focus, .btn:active {
    background-color: #D69722;
    font-size: 1.5rem;
    color: white;
}

.info-text {
    font-size: .8rem;
}
/*------------------------------------ Footer*/

/* sticky footer, as per 
this tip: https://css-tricks.com/a-clever-sticky-footer-technique/
*/

.page-footer  {
    background-color: #A2AEA0;
    position: sticky;
    top: 100vh;
}

.footer-link, .footer-text {
    color: black;
    font-size: 0.8rem;
}

.footer-link:hover, .footer-link:active {
    color: whitesmoke;
    text-decoration: none;
    font-weight: bolder;
}

footer i {
    font-size: 1.5rem;
}

/*------------------------------------ Toolkit cards*/

.page-link {
    border: none;
    color: #A2AEA0;
    font-weight: bold; 
}

.page-link:hover, .page-link:focus, .page-link:active {
    color: #A2AEA0;
    font-size: 1.4rem;
    background-color: white;
}

.btn-card {
    background-color: #D69722;
    border-radius: 0.5rem;
    color: whitesmoke;
    font-weight: bold; 
}

.btn-card:hover, .btn-card:focus, .btn-card:active {
    font-size: 1.1rem;
}

.keywords {
    color: #A2AEA0;
    text-transform: uppercase;
}

.card {
    border-radius: 0.5rem;
}

.card-admin {
    font-size: 0.9rem;
    text-align: left;
    padding-left: 1rem;
    background-color: rgba(162,174,160,0.2);
}

#likes {
    float: right;
    padding-right: 1rem;
}

.author {
    text-transform: capitalize;
    font-style: italic;
}

.bi-suit-heart {
    color: #9F4144;
}

/*------------------------------------ Card detailed view*/

.jumbotron {
    background-color: rgba(162,174,160,0.2);
}

.card-detail {
    border: none;
}

.link:hover, .link:focus {
    text-decoration: none;
    font-size: larger;
}

.msg-special {
    font-weight: bolder;
    color:  #A2AEA0;
}