{% extends "base.html" %}

{% block title %}Page Not Found{% endblock %}

{% block content %}

<!-- 404 Error Page Not Found section with link to home page.-->
<section>
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-12 mt-5 mb-5 mx-auto text-center">
                <h2 class="display-4 pb-5"><i class="bi bi-signpost-split"></i> You might be lost... </h2>
                <p class="not-found">This page doesn't exist.</p>
                <p class="not-found">Find your way home by clicking <a class="home-link" href="{% url 'home' %}">here</a>.</p>
            </div>
        </div>
      </div>
  </section>

{%endblock%}