{% extends "base.html" %}
{% load static %}

{% block title %}Categories{% endblock %}

{% block content %}

<div class="container">
    <div class="row mt-3">
        <h2 class="text-uppercase pl-3">{{ cats.category_name }}</h2>
    </div>
    <div class="row mt-3">
        <!-- Display published tools matching given category -->
        <div class="col-12 mt-3">
            <div class="row">
                {% for tool in cats.categories.all %}
                {% if tool.published_status == 1 %}
                <div class="col-md-4">
                    <div class="card mb-4 text-center">
                        <div class="card-body">
                            <h5 class="card-title"><strong>{{ tool }}</strong></h5>
                            <p class="card-text keywords">{{ tool.keywords }}</p>
                            <p class="card-text">You'll need: {{ tool.time_required }} hrs</p>
                            <a href="{% url 'tool_detail' tool.slug %}" class="btn btn-card mt-3">Try it out</a>
                        </div>
                        <div class="card-admin py-2 mt-2">
                            <p class="card-text mb-0">Posted by: <span class="author">{{ tool.author_name }}</span></p>
                            <p class="card-text">{{ tool.date_added }} <span id="likes"><i
                                        class="bi bi-suit-heart-fill" aria-hidden="true"></i>
                                    {{ tool.number_of_likes }}</span></p>
                        </div>
                    </div>
                </div>
                {% endif %}
                <!--If there are no published related tools, display a message-->
                {% empty %}
                <div class="col-12 mt-3">
                    <div class="row">
                        <div class="col">
                            <p>Oh, looks like there are no posts in this category...</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mt-3 mb-5">
                            <a href="{% url 'addtool' %}" class="btn-lg btn-card btn-create">+ Add the first tool</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!--Back to Toolkit link-->
    <div class="col mt-3 mb-5">
        <a href="{% url 'tools' %}"><i class="bi bi-chevron-left" aria-hidden="true"></i> Back to all tools</a>
    </div>
</div>

{%endblock%}