{% extends "base.html" %}

{% block content %}

{% load static %}

<section>
    <div class="container px-lg-5 mt-5 pt-5">
        <div class="row mx-lg-n5">
          <div class="col py-3 px-lg-5">
            <h1>Welcome to your MoodBox.</h1> 
            <p class="lead">There is always something that we can do to make us feel better. You just need the right tool for you in the right moment.</p>
            <p>MoodBox is a digital self-care toolbox for anyone feeling anxious, low or overwhelmed. It's full of bite-sized information on psychological principles that are known to reduce negative feelings and enhance well-being.</p> 
            <p>Pop it open whenever you need a quick remedy, a healthy activity to distract your anxious mind or simply a reminder that you're not alone.</p>
            <a href="" class="btn btn-lg btn-primary font-weight-bolder" role="button">Feel better</a>
          </div>
          <div class="col py-3 px-lg-5 text-center">
            <img class="img-fluid" src="{% static 'images/mental-health.svg' %}" alt="">
          </div>
        </div>
      </div>
</section>

<section>

</section>


{%endblock%}