{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}My Tools{% endblock %}

{% block content %}

<div class="container">
    <div class="row mt-3">
        <h2 class="pl-3">My tools</h2>
    </div>
    <!-- Add new tool button -->
    <div class="row mt-3">
        <div class="col-12 mt-3">
            <a href="{% url 'addtool' %}" class="btn-card btn-create px-2 py-2" role="button">+ Add a new tool</a>
        </div>
    </div>
</div>
<div class="container">
    <!-- Display list of tools added by the user passed from MyToolsView -->
    <div class="row mt-3">
        <div class="col-12 mt-3">
            <div class="row">
                {% for tool in tool_list %}
                <div class="col-md-4">
                    <div class="card mb-4 text-center">
                        <div class="card-body">
                            {% if tool.published_status == 1 %}
                            <p class="text-success">Published</p>
                            <h5 class="card-title">{{ tool.tool_name }}</h5>
                            <a class="btn-card btn-edit" role="button"
                                    href="{% url 'edit_tool' tool.id %}">Edit</a>
                                    <!-- <button type="button" class="btn-card btn-edit"><a
                                        href="{% url 'edit_tool' tool.id %}">Edit</a></button> -->
                            <a class="btn-card btn-delete" role="button" data-toggle="modal"
                                data-target="#deleteModal{{ tool.id }}">Delete</a>
                                <!-- <button type="button" class="btn-card btn-delete" data-toggle="modal"
                                data-target="#deleteModal{{ tool.id }}">Delete</button> -->
                            {% else %}
                            <p class="text-warning">Awaiting approval</p>
                            <h5 class="card-title">{{ tool.tool_name }}</h5>
                            <a class="btn-card btn-edit" role="button"
                                    href="{% url 'edit_tool' tool.id %}">Edit</a>
                            <a class="btn-card btn-delete" role="button" data-toggle="modal"
                                data-target="#deleteModal{{ tool.id }}">Delete</a>
                                <!-- <button type="button" class="btn-card btn-edit"><a
                                    href="{% url 'edit_tool' tool.id %}">Edit</a></button>
                            <button type="button" class="btn-card btn-delete" data-toggle="modal"
                                data-target="#deleteModal{{ tool.id }}">Delete</button> -->
                            {% endif %}
                        </div>
                        <div class="card-admin py-2 mt-2">
                            <p class="card-text mb-0">Posted by: <span class="author">{{ tool.author_name }}</span></p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                <!--Delete modal-->
                <div class="modal fade" id="deleteModal{{ tool.id }}" tabindex="-1"
                    aria-labelledby="deleteModalLabel{{ tool.id }}" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteModalLabel{{ tool.id }}">Delete tool</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close message">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure you want to delete this tool?</p>
                                <p><strong>This action cannot be undone.</strong></p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <form action="{% url 'delete_tool' tool.id %}" method="POST">
                                    {% csrf_token %}
                                    <button type="submit" value="{{ tool.id }}" name="tool_id"
                                        class="btn btn-primary">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!--If no posts published, display a message-->
                {% empty %}
                <div class="col-12 mt-3">
                    <p>You haven't created any tools yet...</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!--Pagination added by Django once 6 items displayed on page-->
    {% if is_paginated %}
    <nav class="mt-3" aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
    <!--Back to Toolkit link-->
    <div class="col mt-3 mb-5">
        <a href="{% url 'tools' %}"><i class="bi bi-chevron-left" aria-hidden="true"></i> Back to all tools</a>
    </div>
</div>
{%endblock%}