{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Toolkit{% endblock %}

{% block content %}

<div class="container">
    <!-- Header for the tool card -->
    <div class="jumbotron tool-title mt-sm-3 mt-md-5 mb-2">
        <div class="container">
            <h1 class="d-none d-md-block display-4 pb-2">{{ tool.tool_name }}</h1>
            <h2 class="d-block d-md-none pb-2">{{ tool.tool_name }}</h2>
            <p><span class="author">{{ tool.author_name }}</span> | Updated: {{ tool.date_updated }} </p>
        </div>
    </div>
    <!-- Details of the tool -->
    <div class="container">
        <div class="row mt-3">
            <div class="col card card-detail">
                <div class="card-body">
                    <p class="card-text text-capitalize"> <strong>Category:</strong> {{ tool.category }}</p>
                    <p class="card-text"> <strong>Helps with:</strong> {{ tool.keywords }}</p>
                    <p class="card-text"> <strong>Takes:</strong> {{ tool.time_required }} hrs</p>
                    <!-- Resources: image and website -->
                    <div class="card-text resources pt-3 pb-3">
                        <h3 class=>Resources:</h3>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-md-4 mb-4 pr-5">
                            {% if 'placeholder' in tool.related_image.url %}
                            <img class="img-thumbnail" src="{% static 'images/placeholder.jpg' %}" alt="Placeholder image">
                            {% else %}
                            <img class="img-thumbnail" src="{{ tool.related_image.url }}" alt="{{ tool.tool_name }}">
                            {% endif %}
                        </div>
                        <div class="col-md-8">
                            <p><strong>Website:</strong> <a href="{{ tool.related_website }}"
                                    class="card-link">{{ tool.related_website }}</a></p>
                        </div>
                    </div>
                    <!-- Main card content -->
                    <div class="pt-3">
                        <h3>Method details:</h3>
                        <p class="card-text">{{ tool.method_details | safe }}</p>
                    </div>
                    <!-- Likes and comments icons -->
                    <div class="row mt-4">
                        <div class="col-1">
                            <!-- If user is authenticated, a button to like/unlike is shown -->
                            {% if user.is_authenticated %}
                            <form class="d-line" action="{% url 'tool_likes' tool.slug %}" method="POST">
                                {% csrf_token %}
                                <!-- If user has liked the tool, solid heart icon linked to a submit button is displayed -->
                                {% if liked %}
                                <button type="submit" name="tool_id" value="{{ tool.slug }}" class="btn-like">
                                    <strong><i class="bi bi-suit-heart-fill"></i>
                                        {{ tool.number_of_likes }}</strong></button>
                                <!-- If user hasn't pressed like, outline heart icon linked to a submit button is displayed -->
                                {% else %}
                                <button type="submit" name="tool_id" value="{{ tool.slug }}" class="btn-like">
                                    <strong><i class="bi bi-suit-heart"></i>
                                        {{ tool.number_of_likes }}</strong></button>
                                {% endif %}
                            </form>
                            {% else %}
                            <strong><i class="bi bi-suit-heart" aria-hidden="true"></i> {{ tool.number_of_likes }}</strong>
                            {% endif %}
                        </div>
                        <div class="col-1">
                            {% with comments.count as total_comments %}
                            <strong><i class="bi bi-chat" aria-hidden="true"></i> {{ total_comments }}</strong>
                            {% endwith %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <!-- Detailed comments section -->
    <div class="container">
        <div class="row">
            <div class="col-md-8 card card-detail">
                <h3>Comments:</h3>
                <div class="card-body">
                    {% if not tool.comments.all %}
                    <p>No comments yet...</p>
                    {% else %}
                    {% for comment in comments %}
                    <div>
                        <p><strong>{{ comment.name }}</strong> on <span>{{ comment.date_added }}</span> wrote:</p>
                        {{ comment.content | linebreaks }}
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="col-md-4 card card-detail mt-4 mb-4">
                <div class="card-body">
                    <!-- Message appears once a comment is submitted -->
                    {% if commented %}
                    <div class="alert alert-success" role="alert">
                        <p>Thank you! Your comment is awaiting approval</p>
                    </div>
                    {% else %}
                    <!-- Comment box only appears if user is logged in -->
                    {% if user.is_authenticated %}
                    <h4>Say something...</h4>
                    <p>Posting as: {{ user.username }}</p>
                    <form method="POST">
                        <!-- Token to protect the form from attackers -->
                        {% csrf_token %}
                        <!-- Rendering the form using the crispy filter for formatting -->
                        {{ comment_form | crispy }}
                        <button type="submit" value="Submit" class="btn btn-card">Add</button>
                    </form>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{%endblock%}