{% extends "base.html" %}

{% block content %}

{% load static %}

<div class="container">
    <!--Header for the tool card-->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4 tool-name">{{ tool.tool_name }}</h1>
            <p><span class="author">{{ tool.author_name }}</span> | {{ tool.date_added}} </p>
        </div>
    </div>

    <!--Details of the tool-->
    <div class="container">
        <div class="row mt-3">
            <div class="col card card-detail">
                <div class="card-body">
                    <p class="card-text"> <strong>Help with:</strong> {{ tool.keywords }}</p>
                    <p class="card-text"> <strong>Takes:</strong> {{ tool.time_required }} hrs</p>
                    <div class="pt-3">
                        <h3>Method details:</h3>
                        <p class="card-text">{{ tool.method_details | safe }}</p>
                    </div>
        
                    <!--Resources section: image and website -->
                    <div class="card-text resources pt-3 pb-3">
                        <h3 class=>Resources:</h3>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-md-4 mb-4 pr-5">
                            <img class="img-thumbnail" src="{% static 'images/placeholder.jpg' %}" alt="">
                        </div>
                        <div class="col-md-8">
                            <p><strong>Website:</strong> {{ tool.related_website }}</p>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-1">
                            <strong><i class="bi bi-suit-heart"></i> {{ tool.number_of_likes }}</strong>
                        </div>
                        <div class="col-1">
                            {% with comments.count as total_comments %}
                            <strong><i class="bi bi-chat"></i> {{ tool.number_of_likes }}</strong>
                            {% endwith %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>

    <!--Detailed comments section-->
    <div class="container">
        <div class="row">
            <div class="col-md-8 card card-detail">
                <h3>Comments:</h3>
                <div class="card-body">
                    {% for comment in comments %}
                    <div>
                        <p>{{ comment.name }} on <span>{{ comment.date_added }}</span> wrote:</p>
                        {{ comment.content | linebreaks }}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    {%endblock%}