{% extends "base.html" %}

{% block content %}

{% load static %}

<div class="container">
    <div class="row mt-5">
        <!-- Tools lists displayed as cards-->
        <div class="col-12 mt-5">
            <div class="row">
                {% for tool in tool_list %}
                <div class="col-md-4">
                    <div class="card mb-4 text-center">
                        <div class="card-body">
                            <h5 class="card-title">{{ tool.tool_name }}</h5>
                            <p class="card-text">{{ tool.keywords }}</p>
                            <a href="" class="btn">Try it</a>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    <!--Pagination added by Django once 6 items displayed on page-->
    {% if is_paginated %}
    <nav class="mt-5" aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
     

{%endblock%}